{% extends 'base.html' %}

{% block title %}All Notes page{% endblock %}

{% block content %}
  <h1>All Notes</h1>
  {% if data|length > 0 %}
    <div>
      {% for x in data %}
        <div class="note-card">
          <table>
            <tr>
              <td>title:</td>
              <td>{{x.title}}</td>
            </tr>
            <tr>
              <td>category:</td>
              <td>{{x.category}}</td>
            </tr>
          </table>
          <p>{{x.content|slice:":20"}} ...</p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No notes found</p>
  {% endif %}

{% endblock %}