{% extends 'base.html' %}

{% block title %}All Notes page{% endblock %}

{% block content %}
  <h1>All Notes</h1>
  {% if data|length > 0 %}
    <div>
      {% for x in data %}
        <a href="{% url 'note' note_id=x.id %}"> 
          <div class="note-card">
            <table>
              <tr>
                <td>title:</td>
                <td>{{x.title}}</td>
              </tr>
              <tr>
                <td>category:</td>
                <td>{{x.category}}</td>
              </tr>
            </table>
            <p>{{x.content|slice:":20"}} ...</p>
          </div>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>No notes found</p>
  {% endif %}

{% endblock %}