<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <header>
    <a href="{% url 'index' %}" class="active">Home</a>
    <a href="{% url 'all_notes' %}">All Notes</a>
    <a href="{% url 'new_notes' %}">New Notes</a>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <script src="/static/js/function.js"></script>
</body>
</html>