{% extends 'base.html' %}

{% block title %}
{% if item is not null %}
  {{item.title}}
{% else %}
  The item does not exist
{% endif %}
{% endblock %}

{% block content %}
  {% if item is not null %}
    <div>
      <table class="menu-table-note">
        <tbody>
          <tr>
            <th class="th-menu-note">
              <a href="#" class="nav-a home-note-btn one-a">
                {{item.title}}
              </a>
            </th>
            <td class="td-menu-note">
              <a href="#" class="nav-a edit-note-btn one-a">
                Edit
              </a>
            </td>
            <td class="td-menu-note">
              <a href="#" class="nav-a delete-note-btn one-a">
                Delete
              </a>
            </td>
            <td  class="td-menu-note" id="end-col-menu"></td>
          </tr>
        </tbody>
      </table>
      <!-- <ul class="nav-ul one-ul">
        <li class="nav-li one-li">
          <a href="#" class="nav-a home-note-btn one-a">
            {{item.title}}
          </a>
        </li>
        <li class="nav-li one-li">
          <a href="#" class="nav-a edit-note-btn one-a">
            Edit
          </a>
        </li>
        <li class="nav-li one-li">
          <a href="#" class="nav-a delete-note-btn one-a">
            Delete
          </a>
        </li>
      </ul> -->
    </div>
    <div>
      <table>
        <tbody>
          <tr>
            <th>Title:</th>
            <td>{{item.title}}</td>
          </tr>
          <tr>
            <th>Category:</th>
            <td>{{item.category}}</td>
          </tr>
          <tr>
            <th>Date created</th>
            <td>{{item.date_created}}</td>
          </tr>
          <tr>
            <th>Date Modified</th>
            <td>{{item.date_modified}}</td>
          </tr>
        </tbody>
        
      </table
      <p>
        <span>Content</span><br>
        <span>{{item.content}}</span>
      </p>
    </div>
  {% else %}
    <h1>The Item does not exist</h1>
  {% endif %}

{% endblock %}