{% extends 'base.html' %}

{% block title %}
{% if item is not null %}
  {{item.title}}
{% else %}
  The item does not exist
{% endif %}
{% endblock %}

{% block content %}
  {% if item is not null %}
    <div class="note-navbar">
      <a href="#" class="nav-a  one-a active home-note-btn">
        {{item.title}}
      </a>
      <a href="#" class="nav-a  one-a edit-note-btn">
        Edit
      </a>
      <a href="{% url 'delete_note' note_id=item.id %}" class="nav-a  one-a  delete-note-btn">
        Delete
      </a>
    </div>
    <div class="home-note-content" >
      <table>
        <tbody>
          <tr>
            <th>Title:</th>
            <td>{{item.title}}</td>
          </tr>
          <tr>
            <th>Category:</th>
            <td>{{item.category}}</td>
          </tr>
          <tr>
            <th>Date created</th>
            <td>{{item.date_created}}</td>
          </tr>
          <tr>
            <th>Date Modified</th>
            <td>{{item.date_modified}}</td>
          </tr>
        </tbody>        
      </table
      <p>
        <span>Content</span><br>
        <span>{{item.content}}</span>
      </p>
    </div>
    <div class="edit-note-content">
      <h1>Edit {{item.title}}</h1>
      <form method="post" action="{% url 'note' note_id=item.id %}">
        {% csrf_token %}
        <div class="new-note-input">
          <label for="title">Title:</label>
          <input type="text" name="title" id="title" class="new-note-input" value="{{item.title}}" placeholder="to do list" required>
        </div>
        <div class="new-note-input">
          <label for="category">Category:</label>
          <select name="category" id="category" class="new-note-input" required>
            <optgroup label="Personnal">
              <option 
                value="Personnal" 
                {% if item.category == 'Personnal' %}
                  selected
                {% endif %}>
                Personnal
              </option>
              <option 
                value="Family Affair" 
                {% if item.category == 'Family Affair' %}
                  selected
                {% endif %}>
                Family Affair
              </option>
              <option 
                value="Health"
                {% if item.category == 'Health' %}
                  selected
                {% endif %}>
                Health
              </option>
            </optgroup>
            <optgroup label="Activities">
              <option 
                value="Study"
                {% if item.category == 'Study' %}
                  selected
                {% endif %}>
                  Study
              </option>
              <option 
                value="Shopping" 
                {% if item.category == 'Shopping' %}
                  selected
                {% endif %}>
                  Shopping
              </option>
            </optgroup>
            <optgroup label="Business">
              <option 
                value="Office" 
                {% if item.category == 'Office' %}
                  selected
                {% endif %}>
                Office
              </option>
              <option 
                value="Work" 
                {% if item.category == 'Work' %}
                  selected
                {% endif %}>
                Work
              </option>
            </optgroup>
          </select>
        </div>
        <div class="new-note-input">
          <label for="Content">Content:</label>
          <textarea name="content" id="content" cols="30" class="new-note-input" rows="10" placeholder="write your notes here" required">{{item.content}}</textarea>
        </div>
        <input type="submit" value="Submit"/>
      </form>
    </div>
  {% else %}
    <h1>The Item does not exist</h1>
  {% endif %}

{% endblock %}