*{
  margin: 0;
}

/* note html */

.menu-table-note {
  margin-bottom: 10px;
  background: #333;
  color: white;
}

.edit-note-content{
  display: none;
}

.menu-table-note td {
  padding: 10px;
}

.th-menu-note, .td-menu-note{
  width: 20%;
}

.th-menu-note:hover, .td-menu-note:hover{
  border-bottom: solid 4px #ffff80;
  background-color: #111;
  width: 20%;
}

#end-col-menu-main{
  width: 40%;
}

.end-col-menu{
  width: 40%;
}

.one-a{
  text-decoration: none;
  color: inherit;
}

/* menu table */

.menu-table{
  border-collapse: collapse;
  width: 100%;
  margin: 0;
}

/* main navbar */

header{
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  background:  	#217b7e;
  top: 0;
  overflow: hidden;
}

header a{
  float: left;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px; 
  font-size: 1.1em;
  border-right: solid 2px beige;
}

header a.active{
  background-color: #ba8300;
}

header a.active:hover{
  background-color: #ffc900;
}

header a:hover{
  border: solid 2px #4caf50;
  background-color: #10898d;
  color: beige;
}
